body {
  background: silver;
}

#timer {
  position: fixed;
  right: 2%;
  color: black;
}

.scores {
  position: fixed;
  left: 2%;
  color: black;
}

#question {
  /* position: fixed;
  top: 25%;
  left: 18em; */
  text-align: center;
  color: peru;
}

button {
  display: block;
  margin: 10px 0px 10px 0px;
  border: 2px black solid;
  border-radius: 8px;
  margin: auto;
  position: relative;
  top: 30px;
  width: 9em;
  height: 4.7em;
  background: aquamarine;
}

.jumbotron-fluid {
  width: 50%;
  margin: auto;
  height: 29em;
  position: relative;
  top: 4em;
}

#validation {
  position: relative;
  top: 4em;
  left: 29.3em;
}
