body {
  background: silver;
}

#timer {
  position: fixed;
  right: 2%;
  color: black;
}

.scores {
  position: fixed;
  left: 2%;
  color: black;
}

#question {
  /* position: fixed;
  top: 25%;
  left: 18em; */
  text-align: center;
  color: peru;
}

button {
  display: block;
  margin: 10px 0px 10px 0px;
  border: 2px black solid;
  border-radius: 8px;
  margin: auto;
  position: relative;
  top: 30px;
  width: 9em;
  height: 4.7em;
  background: aquamarine;
}

.jumbotron-fluid {
  width: 50%;
  margin: auto;
  height: 80vh;
  position: relative;
  top: 4em;
}

@media screen and (max-width: 1100px) {
  .jumbotron-fluid {
    height: 87vh;
    width: 60vw;
  }
}

#validation {
  /* position: fixed;
  bottom: 3em;
  left: 19em; */

  position: relative;
  left: 46%;
  bottom: 4em;
  /* position: relative;
  top: 100px; */
}

/* @media screen and (min-width: 600px) {
  validation {
    position: relative;
    left: 45%;
    bottom: 3em;
  }
} */
